.lmeter { 
    height: 20px;
    position: relative;
    background: rgb(243, 239, 239);
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    margin-top: auto;
    margin-bottom: auto;
}
.lmeter > span {
    display: flex;
    height: 100%;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #aaa5ff;
    position: relative;
    overflow: hidden;
}
.lskill{
    display: flex;
    line-height: 3.5vw;
    padding-right: 10rem;
}
.lskill p{
    margin-right: auto;
}
.lskill > *:nth-child(1) {
    flex-basis: | auto;
}
.lskill > *:nth-child(2) {
    flex-basis: 75%;
}
.lskill-bars{
    font-size: 28px;
    width: 40%;
}
.lskills-heading{
    width: 90%;
    padding: 20px 10px;
    margin: 0px auto;
    margin-top: 2rem;
}
.lskills-container {
    display: flex;
    width: 90%;
    padding: 0px 10px;
    margin: 0px auto;
    justify-content: space-between;
}
.lskills-container > *:nth-child(1) {
    flex: 1;
    margin-bottom: 20px;
}
.lskills-container > *:nth-child(2) {
    flex: 1;
    margin-bottom: 20px;
}
.lskills-image > img {
    margin-left: 80px;
    max-width: 90%;
    height: auto;
}

/* Media Query */

@media (max-width: 1456px) {
    .lskills-bar {
        line-height: 4rem;
    }
    .lskills-image {
        order: 2;
    }
}

@media (max-width: 768px) {
    .lskills-container {
        flex-direction: column
    }
    .lskills-bar {
        line-height: 3rem;
        margin: 20px;
    }
    .lskills-image {
        order: 2;
    }
}
  